/* Custom Styles */

body {
  background-color: #fff;  
  margin: 0px;
}

.photo {
  padding: 10px;
}

.photoinstruction {
  font-size: 50%;
}

.photocontent {
  padding-top: 30px;
}

.header {
  color: white;
  width: 100%;
  background-image: url('/assets/images/banner.JPG');
  height: 250px;
  background-position: 50% 60%;
  min-width: 330px;
}

.header  > .siteTitle {
  font-family: 'Merienda', cursive;
  font-size: 32px;
  text-align: center;
  text-shadow: 2px 2px black;
  padding: 0px 15px;
  font-weight: bold;
}

.header > .siteTitle .highlight {
  color: lightskyblue;
}

.header > .siteTitle a {
  text-decoration: none;
  color: white;
}

.socialIcons {
  float: left;
  line-height: 70px;
  padding: 0 10px;
  font-size: 36px;
  text-shadow: 2px 2px black;
}
.socialIcons a {
  color: white;
  text-decoration: none;
}
.navigation.large {
  float: right;
}

.navigation ul {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;  
}
.navigation li {
  float: left;
  position: relative;
}
.navigation li {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation li:hover {
  background: #2581DC;
  color: white;  
}

.navigation.small {
  display: none;
  position: fixed;
  right: -100%;
  top: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background: #b0b0b0;
}

.navigation.small li {
  float: none;
}

.navigation-slide-open .navigation.small {
  display: block;
  right: -60%;
}

.navigation-slide-open .header {
  right: 40%;
  position: relative;
}

.navigation-slide-open .banner {
  right: 40%;
  position: relative;
}

.navigation-slide-open .content {
  right: 40%;
  position: relative;
}

.navigation-slide-open .footer {
  right: 40%;
  position: relative;
}

.nav-hamburger
{
  display: none;
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 36px;
  margin-right: 10px;
}

.navigation-show-controls {
  position: fixed;
  top: 0;
  right: 0;
}

.navigation-slide-open .navigation-show-controls
{
  right: 40%;
}

.navigation-slide-open .nav-hamburger {
  right: 0px;
}

@media (max-width: 992px) {
  .nav-hamburger
  {
    display: block;
  }

  .navigation.large {
    display: none;
  }
}

body {
  font-size: 24px;
}

.leftsidebar {
  width: 30%;
}

.sideimg {
  float: left;
  max-width: 100%;
  height: auto;  
  padding-right: 10px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.content {
  background-color: white;  
  min-height: 520px;
  padding: 15px;
}

.content, .banner {
  min-width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

.banner {
  background-color: #cce5ff;
}

.bannertext {
  max-width: 590px;
  margin: auto;
  color: #004085;
  font-weight: bold;
}


.inline-pic.small img {
  max-width: 240px;
  max-height: 240px;
  margin: 0 20px;
}

.text-with-image {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.text h3 {
  margin: 0px;
  margin-bottom: 20px;
}

@media (max-width: 580px) {
  .text-with-image {
    flex-wrap: wrap;
  }
  .text-with-image .inline-pic {
    order: -1;
  }
}

.footer {
  font-size: 14px;
  width: 241px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footerPolicy {
  font-size: 1.5em;
}

.footerPolicy > a {
  color: black;
}

.photocontent .photoseriestitle {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
} 

.gallerylink {
  font-size: 0.6em;
  float: right;
}

.photoblock {
  display: inline-block;
  vertical-align: top;
  width: 270px;
}

.photoblock img {
  vertical-align: top;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.photoblocktext {
  text-align: center;
  color: black;
  font-size: 0.75em;
}

.photoblocktext.sold {
  color: red;
}

.content p {
  margin: 20px;
}

.logocontainer {
  clear: both;
  min-width: 300px;
  box-sizing: border-box;
}

#slidy-container {
  max-width: 500px;
  margin: 0 auto;
}

.gallerycontent {
  text-align: center;
}

.galleryimage {
  display: block;
}

.galleryimage > img {
  max-width: 100%;
  max-height: 100%;
}

.gallerynav a {
  color: black;
}
.galleryimagetitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gallerycontent {
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.sellPanel {
  margin-top: 1em;
  border: 5px ridge black;
  padding: 5px;
  border-radius: 20px;
}
.sellFooter {
  font-size: .7em;
  margin-top: 1em;
}

.disabledPurchase {
  color: #721c24;
  font-weight: bold;
}

.originalPrice {
  text-decoration: line-through;
  text-decoration-color: red;
}

@media screen and (min-width: 75em) {
  .columnContainer {
    display: table;
    table-layout: fixed;    
    width: 100%;
  }
  .sellUi .details {
    display: table-cell;
    padding-right: 1em;
    width: 75%;
  }
  .sellPanel {
    display: none;
  }
  .sellUi .sellPanel {
    display: table-cell;
    width: 25%;
    vertical-align: top;
  }
}

@media screen and (min-width: 760px) {

  .nav-collapse a {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .content {
    padding: 30px;    
  }

  .content, .banner {
    margin: auto;
    width: 80%;
    max-width: 1400px;
    min-width: 740px;
  }

  .small-content {
    margin: auto;
    width: 60%;
    max-width: 1400px;
    min-width: 740px;
  }

  .logoContainer {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 1400px;
    min-width: 740px;
  }
}

/* Blog Post */
.postLead {
  padding-bottom: 20px;
}

.postIndex hr {
  margin-bottom: 20px;
}

.postIndex .postPic img {
  max-width: 200px;
}

.postArticle .postPic img {
  max-width: 200px;
}

.content.postArticle p {
  margin-left: 0px;
  margin-right: 0px;
}

.postSummary {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.postSummary h3 {
  margin: 0px;
  margin-bottom: 20px;
}

.postIndex .postTitle {
  font-family: Merienda,cursive;
  font-size: 1em;  
}

.postTitle {
  font-family: Merienda,cursive;
  font-size: 1.5em;  
}

.postPublication, .postAuthorBy {
  font-size: 0.8em;
}

.postSynopsis {
  margin-left: 20px;
}

.postText {
  margin-bottom: 20px;
}

.postIndex .actions {
  list-style: none;
}

@media screen and (min-width: 700px) {
  .postSummary {
    flex-wrap: nowrap;
  }
}