{% extends "layout.html" %}

{% block title %}
MJS Works
{% endblock %}

{% block nav %}
{{ nav('feathers') }}
{% endblock %}

{% block content %}
<div class="content">
<p>I have parterned with <a href="http://www.avianrefuge.org/">Marden's Ark Avian Refuge</a> which is a 501(c)(3) companion bird rescue.
They take in birds that no longer have a home and foster them.
A portion of the proceeds of the sales from the paintings made with feathers will go to them.
{% for series in page.metadata.series %}
<p>&nbsp;</p>
<div class="photoinstruction">Click or Tap on image to view a fullscreen gallery</div>
<div>
{% for photo in series.photos %}
<div class="photoblock">
  <a href="/photos/images/{{ photo.file }}" rel="{{ series.id }}" class="swipebox" title="{{ photo.title }}">
    <img class="photo" src="/photos/thumbnails/{{ photo.file }}" alt="{{ photo.title }}" />
  </a>
  <div class="photoblocktext">{{ photo.title }}</div>
  {% if photo.sold %}
  <div class="photoblocktext sold">Sold</div>
  {% else %}
  <div class="photoblocktext">{{ photo.size}}</div>
  {% endif %}
</div>
{% endfor %}
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
  (function () {
    $(function () {
       $(".swipebox").swipebox();
    });
  }());
</script>
{% endblock %}
