{% extends "layout.html" %}

{% block title %}
MJS Works
{% endblock %}

{% block nav %}
{{ nav('home') }}
{% endblock %}

{% block content %}
<div class="content">
{{ page.html | safe }}
<div id="slidy-container">
  <figure id="slidy">
    <img src="photos/rotate/SpringRain.jpg" alt data-caption="Spring Rain">
    <img src="photos/rotate/Lighthouse.jpg" alt data-caption="Lighthouse">
    <img src="photos/rotate/BlueWaves.jpg" alt data-caption="Blue Waves">
    <img src="photos/rotate/Rose.jpg" alt data-caption="Rose">
    <img src="photos/rotate/FeedingTime.jpg" alt data-caption="Feeding Time">
  </figure>
</div>
<!-- <div class="leftsidebar"><img class="sideimg" src="/img/home-image.jpg" /></div> -->
</div>
{% endblock %}

{% block scripts %}
<script>cssSlidy();</script>
{% endblock %}
