{% extends "layout.html" %}

{% block title %}
{{page.title}}
{% endblock %}

{% block nav %}
{{ nav('painting') }}
{% endblock %}

{% block metadata%}
<meta property="og:title" content="{{page.title}}"></meta>
<meta property="og:description" content="{{page.metadata.description}}">
<meta name="description" content="{{page.metadata.description}}">
{% endblock %}

{% block content %}
<div class="content photocontent">
<div class="photoseriestitle">Galleries</div>
<div class="photoinstruction">Click to view images for gallery</div>
{% for photo in page.metadata.series %}
<div class="photoblock">
  <a href="/gallery/{{ photo.link }}/index.html" title="{{ photo.title }}">
    <img class="photo" src="/photos/thumbnails/{{ photo.file }}" alt="{{ photo.title }}" />
  </a>
  <div class="photoblocktext">{{ photo.title }}</div>
</div>
{% endfor %}
</div>
{% endblock %}
