{% extends "layout.html" %}

{% block title %}
Photos - MJS Works
{% endblock %}

{% block nav %}
{{ nav('photos') }}
{% endblock %}

{% block content %}
<div class="content photocontent">
<div class="photoseriestitle">Galleries</div>
<div class="photoinstruction">Click to view images for gallery</div>
{% for photo in page.metadata.series %}
<div class="photoblock">
  <a href="/gallery/{{ photo.link }}/index.html" title="{{ photo.title }}">
    <img class="photo" src="/photos/thumbnails/{{ photo.file }}" alt="{{ photo.title }}" />
  </a>
  <div class="photoblocktext">{{ photo.title }}</div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
  (function () {
    $(function () {
       $(".swipebox").swipebox();
    });
  }());
</script>
{% endblock %}
