{% extends "layout.html" %}

{% block title %}
MJS Works
{% endblock %}

{% block metadata%}
<meta http-equiv="refresh" content="5;url={{env.helpers.getEnvironmentVariable('MJS_WORKS_SITE_HOST_SECURE')}}" />
<meta property="og:title" content="MJS Works"></meta>
<meta property="og:description" content="Page Removed">
<meta name="description" content="Page Removed">
{% endblock %}

{% block nav %}
{{ nav('home') }}
{% endblock %}

{% block content %}
<div class="content">
This page has been removed. Please update your links to <a href="{{env.helpers.getEnvironmentVariable('MJS_WORKS_SITE_HOST_SECURE')}}">{{env.helpers.getEnvironmentVariable('MJS_WORKS_SITE_HOST_SECURE')}}</a>
You will be redirected in 5 seconds
</div>
{% endblock %}
