{% extends "layout.html" %}

{% block title %}
MJS Works
{% endblock %}

{% block metadata%}
<meta http-equiv="refresh" content="0;url=http://mjsworks.com/" />
<meta property="og:title" content="MJS Works"></meta>
<meta property="og:description" content="Page Removed">
<meta name="description" content="Page Removed">
{% endblock %}

{% block nav %}
{{ nav('home') }}
{% endblock %}

{% block content %}
<div class="content">
This page has been removed, you should update your links to <a href="http://mjsworks.com/">http://mjsworks.com/</a>
</div>
{% endblock %}
